.body {
  font-family: Lato, 'sans-serif';
}

a:hover {
  color: #4592FF;
}

.button {
  background: #4592FF;
  border: none;
  border-radius: 20px;

  padding: 10px 20px;
  font-family: Lato, 'sans-serif';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #fff;

  cursor: pointer;
}

.button__icon {
  margin-right: 7px;
}
.button__icon--right {
  margin-left: 7px;
}

.top-header {
  padding: 15px 0;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;

  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  /* line-height: 20px; */

  color: #939699;
}
.navigation__link:hover {
  color: #4592FF;
}

.slider {
  position: relative;
  margin-bottom: 50px;
}

.slider__nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}

.slider__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slide {
  padding-top: 90px;
  padding-bottom: 110px;

  min-height: 570px;
}

.slide--1 {
  background: #B4D1E0;
  background-image: url('../images/slide-1.png');
  background-repeat: no-repeat;
  background-position: top right 36%;
}

.slide--2 {
  background: #b9e0b4;
  background-image: url('../images/slide-1.png');
  background-repeat: no-repeat;
  background-position: top right 36%;
}

.label {
  background: #3DC47E;
  border-radius: 3px;
  padding: 5px 12px;
  color: #fff;

  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
}

.slide__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;

  color: #262D33;

  margin-top: 20px;
  margin-bottom: 15px;
}

.slide__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  color: #4B5157;

  max-width: 335px;
  margin-bottom: 40px;
}


.card {
  min-height: 370px;

  background-color: #E3E3E3;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 60px;
  padding-left: 45px;

  border-radius: 10px;
}

.card__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  color: #262D33;

  max-width: 252px;
  margin-bottom: 15px;
}

.card__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #4B5157;

  max-width: 175px;
  margin-bottom: 25px;
}

.card__title--light, .card__text--light {
  color: #fff;
}

.card--1 {
  background-image: url('../images/card-image-1.jpg');
  margin-bottom: 30px;
}

.card--2 {
  background-image: url('../images/card-image-2.jpg');
  margin-bottom: 30px;
}

.card--3 {
  background-color: #CCD5E6;
  background-image: url('../images/card-image-3.png');
  background-size: contain;
  background-position: top right 35%;

  padding-top: 35px;
  padding-left: 45px;
}

.card__title--large {
  font-size: 40px;
  line-height: 50px;

  max-width: 420px;

  margin-top: 30px;
  margin-bottom: 20px;
}

.card__text--3 {
  margin-bottom: 40px;
}

.card--4 {
  background-color: #FF4F52;
  background-image: url('../images/card-image-4.png');
  background-size: contain;
  background-position: top right;

  padding-top: 35px;
  padding-left: 25px;
}

.card__title--4 {
  max-width: 210px;
}

.card__text--4 {
  color: #FFC4C9;
}

.card__price {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}


.section-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  color: #262D33;
}

.view-more {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;

  color: #262D33;
  text-decoration: none;

  padding: 10px 0 10px 10px;
}

.product {
  position: relative;
  text-align: center;
  padding: 30px;
  margin-bottom: 70px;
}

.product__label {
  position: absolute;
  top: 18px;
  left: 18px;
}

.product__image {
  margin-bottom: 15px;
  max-width: 190px;
}

.product__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;

  color: #262D33;

  margin-bottom: 5px;
}

.product__description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #4B5157;

  margin-bottom: 20px;
}

.product__price {
  font-family: Lato;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;

  color: #262D33;
}


.footer {
  /* padding-top: 45px;
  padding-bottom: 40px; */

  background-color: #8F79D4;
  color: #fff;
}

.footer__top {
  padding-top: 45px;
  padding-bottom: 44px;
  
}

.footer__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__menu-item:not(:last-child) {
  margin-right: 40px;
}

.footer__menu-link {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;

  color: #fff;
  text-decoration: none;
}
.footer__menu-link:hover {
  color: #fff;
}

.footer__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #E7D9FF;
}

.social-link {
  text-decoration: none;
}

.social-link:not(:last-child) {
  margin-right: 15px;
}

.footer__social {
  margin-left: 25px;
}

.footer__copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: #E7D9FF;

  text-align: right;
}

.footer__separator {
  margin: 0;
  padding: 0;
  border-bottom: 1px #D8BFFF solid;
}

.footer__bottom {
  padding-top: 35px;
  padding-bottom: 40px;
}

.payments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.payments__item:not(:last-child) {
  margin-right: 25px;
}

.footer__text-up {
  font-weight: 900;
  margin-right: 15px;
}

.footer__button-up {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}